<div id="<%= dom_id qr_code %>">
  <div>
    <strong>Token:</strong>
    <%= qr_code.token %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= qr_code.is_active %>
  </div>

  <div>
    <strong>Activity:</strong>
    <%= qr_code.activity_id %>
  </div>

</div>
