<p style="color: green"><%= notice %></p>

<% content_for :title, "Qr codes" %>

<h1>Qr codes</h1>

<div id="qr_codes">
  <% @qr_codes.each do |qr_code| %>
    <%= render qr_code %>
    <p>
      <%= link_to "Show this qr code", qr_code %>
    </p>
  <% end %>
</div>

<%= link_to "New qr code", new_qr_code_path %>
