<div id="<%= dom_id device_fingerprint %>">
  <div>
    <strong>Fingerprint value:</strong>
    <%= device_fingerprint.fingerprint_value %>
  </div>

  <div>
    <strong>Last seen at:</strong>
    <%= device_fingerprint.last_seen_at %>
  </div>

  <div>
    <strong>Student:</strong>
    <%= device_fingerprint.student_id %>
  </div>

</div>
