<div id="<%= dom_id attendance_record %>">
  <div>
    <strong>Activity:</strong>
    <%= attendance_record.activity_id %>
  </div>

  <div>
    <strong>Student:</strong>
    <%= attendance_record.student_id %>
  </div>

</div>
